{% extends "auth/base_auth.html" %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-lg-9">

            <div class="card shadow-lg border-0">

                <div class="row g-0">

                    <!-- PANEL IZQUIERDO -->

                    <div class="col-md-5 bg-primary text-white text-center p-5">

                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/5/56/Univalle.svg"
                            width="100"
                            class="mb-4">

                        <h1 class="fw-bold">

                            Universidad del Valle

                        </h1>

                        <h3>

                            Sección de Salud Ocupacional

                        </h3>

                        <hr>

                        <p>

                            Sistema de Gestión de Empleados y Exámenes Ocupacionales

                        </p>

                    </div>

                    <!-- LOGIN -->

                    <div class="col-md-7 p-5">

                        <h1 class="fw-bold">

                            Iniciar Sesión

                        </h1>

                        <p class="text-muted">

                            Sistema Salud Ocupacional

                        </p>

                        <form method="POST">

                            <div class="mb-3">

                                <label>Email</label>

                                <input
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    required>

                            </div>

                            <div class="mb-3">

                                <label>Contraseña</label>

                                <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    required>

                            </div>

                            <button
                                class="btn btn-primary w-100">

                                Ingresar

                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}