{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h3 class="mb-4">
            Registro Empleado
        </h3>

        <form method="POST">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Nombre Completo</label>

                    <input type="text"
                           name="nombre"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>Cédula</label>

                    <input type="text"
                           name="cedula"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>Fecha Nacimiento</label>

                    <input type="date"
                           name="fecha_nacimiento"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>Teléfono</label>

                    <input type="text"
                           name="telefono"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>Correo</label>

                    <input type="email"
                           name="correo"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>EPS</label>

                    <input type="text"
                           name="eps"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>AFP</label>

                    <input type="text"
                           name="afp"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label>Sexo</label>

                    <select name="sexo"
                            class="form-control">

                        <option>Masculino</option>
                        <option>Femenino</option>

                    </select>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Cargo</label>

                    <input type="text"
                           name="cargo"
                           class="form-control">
                </div>

            </div>

            <button class="btn btn-primary">
                Guardar Empleado
            </button>

        </form>

    </div>

</div>

{% endblock %}