{% extends 'base.html' %}

{% block content %}

<h2>Lista de Pacientes</h2>

<a href="{{ url_for('paciente.crear') }}">
    Nuevo Paciente
</a>

<hr>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Documento</th>
    </tr>

    {% for paciente in pacientes %}

    <tr>

        <td>{{ paciente.id }}</td>
        <td>{{ paciente.nombres }}</td>
        <td>{{ paciente.apellidos }}</td>
        <td>{{ paciente.documento }}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}
